@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-paper;
}

body {
  @apply text-blue-900;
}

.tabular {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum' 1;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
